@{
    ViewBag.Title = "Sobre Mim";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<article class="timeline">
    <nav class="timeline__nav">
        <ul>
            <li><span>2000</span></li>
            <li><span>2003</span></li>
            <li><span>2004</span></li>
            <li><span>2006</span></li>
            <li><span>2007</span></li>
            <li><span>2009</span></li>
            <li><span>2013</span></li>
            <li><span>2015</span></li>
            <li><span>2017</span></li>
            <li><span>2020</span></li>
        </ul>
    </nav>
    <section class="timeline__section">
        <div class="wrapper">
            <h2 class="milestone">2000</h2>
            <p>Tive meu primeiro contato com computadores.</p>
            <h2 class="milestone">2003</h2>
            <p>Comecei a estudar sobre programação, e conheci as linguagens C e Pascal.</p>
            <p>Nesse mesmo ano, eu também tive acesso a internet e comecei a estudar sobre Delphi.</p>
            <h2 class="milestone">2004</h2>
            <p>Comecei a procurar pequenos comércio de bairros e oferecer sistemas para controle de estoque, controle de vendas e caixa.</p>
            <p>Iniciei meus estudos com a Web (html - muita table e animações em Flash e ActionScripts).</p>
            <h2 class="milestone">2006</h2>
            <p>Criei meu primeiro site totalmente em html na extinta hpg.</p>
            <p>Comecei a programar em C e Perl para criar buscadores para grupos de IRC.</p>
            <h2 class="milestone">2007</h2>
            <p>Comecei a estudar sobre programação, e conheci as linguagens C e Pascal.</p>
            <p>Nesse mesmo ano, eu também tive acesso a internet e comecei a estudar sobre Delphi.</p>
            <h2 class="milestone">2009</h2>
            <p>Final do ano de 2009 eu comecei a ofertar serviços criação de site para pequenos negócios.</p>
            <p>
                Criei uma plataforma chamada "Mais Comodidade". Uma plataforma desenvolvida em ASP clássico e MySql com o intuito de ajudar os usuários e encontrar o melhor preço em mercado e receber as
                suas compras no conforto de suas residencias.
            </p>
            <p>
                Inicialmente eu atendia somente nas regiões próximas e deu certo até o inicio de 2011, onde o mercado já havia começado a mudar e o colega que trabalhava comigo
                na parte operacional teve que ir embora do Brasil.
            </p>
            <h2 class="milestone">2013</h2>
            <p>Fui contratado pela TargetWork como desenvolvedor junior e atuei desenvolvendo projetos para a Globo utilizando C# Asp.Net.</p>
            <p>Também tive meu primeiro contato com desenvolvimento de aplicativos mobile (Android).</p>
            <p>Após alguns meses, acabei me desligando da TargetWork para iniciar na Fadami, onde trabalhei por 3 anos (Somados o periodo com carteira assinada e sem carteira assinada)</p>
            <p>Desenvolvi grandes projetos na Fadami para o grupo EcoRodovidas, atuando basicamente com C# e SqlServer (Muita lógica em procedures)</p>
            <h2 class="milestone">2015</h2>
            <p>Iniciei um novo desafio na LDC Consulting, onde atuei em um projeto que estava parado em C# Asp.Net.</p>
            <p>Pouco tempo depois fui convidado a desenvolver o ERP de uma industria do zero.</p>
            <h2 class="milestone">2017</h2>
            <p>Iniciei um trabalho na empresa Reserve System, onde atuava em projetos legados e novos, utilizando como stack: C# Asp.Net, NodeJs e SqlServer.</p>
            <p>Pouco tempo depois fui convidado a desenvolver o ERP de uma industria do zero.</p>
            <h2 class="milestone">2020</h2>
            <p>Após o término dos meus projetos pessoais, voltei ao mercado e fui convidado para trabalhar na QConcursos.</p>
            <p>Uma empresa com uma cultura jovem, e com uma nova stack: Ruby On Rails.</p>
        </div>
    </section>
</article>
