@model WebApp.Models.DesafioModel

@{
    ViewBag.Title = "Challenge";
}

<h2>Desafio - 4</h2>
<h3>
    Escrever uma função que recebe uma árvore e um id e retorna um vetor com
    os ids do caminho desde o nó raiz até o nó passado como parâmetro
</h3>

<strong>
   Ref.: Id: 9
</strong>

<h2>@String.Join(",", Model.Resultado)</h2>

