@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700&subset=cyrillic");

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Exo 2', sans-serif;
    line-height: 1.5;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.wrapper {
    margin: 0 auto;
    padding: 0 16.66% 50px;
    width: 100%;
}

article {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
}

.timeline__nav {
    position: fixed;
    z-index: 99;
    top: 0;
    -webkit-transition: top .3s ease-out;
    transition: top .3s ease-out;
}

.timeline__nav ul {
    list-style: none;
    list-style-position: inside;
    margin: 15px 0;
}

.timeline__nav ul li {
    margin: 15px 0;
    padding-left: 0;
    list-style-type: none;
    color: #bfc1c3;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.timeline__nav ul li.active {
    font-weight: bold;
    color: #f94125;
    border-bottom: 1px dotted transparent;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.timeline__nav ul li:hover {
    color: #000;
}